$color-black: #000000;
$color-tundora: #4A4A4A;
$color-mauvelous: #EF8094;
$color-white: #FFFFFF;
$color-silver: #C4C4C4;
$color-mercury: #E5E5E5;
$color-zircon: #F5F8FF;
$color-gallery: #EEEEEE;
$color-downy: #73D4AE;

$font-sans: 'DM Sans';
$font-serif-text: 'DM Serif Text';
$font-serif-display: 'DM Serif Display';